<!DOCTYPE HTML>
<html>
	<head>
		<title>Portfolio</title>
		<meta charset="utf-8">
		<link rel="stylesheet" href="../styles/style.css">
		<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<head>
	<body>
		<nav class="nav">
			<span class="me">
				<a href="#"> ME </a>
			</span>
			<span align="left">
				<label for="drop" class="toggle"> <img src="../images/icon.png" class="icon_size"/> </label>
				<input type="checkbox" id="drop">
				<ul class="menu">
					<li><a href="#"> WHERE</a></li>
					<li><a href="#"> WHAT </a></li>
					<li><a href="#"> WHO </a></li>
				</ul>
			</span>		
		</nav>
		<main>
			<div class="container-fluid bg-1" align="center">
				<h3> Who Am I? </h3>
				<img class="img-circle" src="../images/sting.jpg" alt="Sting" height="150" width="160">
				<h3> I'm an alien </h3>
			</div>
			<div class="container-fluid bg-2" align="center">
				<h3> What Am I? </h3>
				<p> <b>I'm a ligal alien</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus mattis rhoncus sapien vel molestie. Suspendisse varius enim quis risus malesuada, vel vehicula leo tristique. Curabitur blandit mi eu malesuada rhoncus. Suspendisse ac venenatis lorem. Sed faucibus ante vel tellus egestas elementum. Sed blandit cursus ex, sit amet tincidunt urna. Donec fermentum feugiat massa in porttitor.</p>
				<form>
				<button>
					<img class="img-little" src="../images/icon.svg" alt="icon">
					Search
 				</button>
				</form>
			</div>
			<div class="bg-3" align="center">
				<h3> Where To Find Me? </h3>
				<div class="row">
					<span class="col"> 
						<p> <b>I'm an English man in New York</b> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus mattis rhoncus sapien vel molestie. Suspendisse varius enim quis risus malesuada, vel vehicula leo tristique.</p>
						<img class="img-size" src="../images/sting1.jpg" alt="sting sings">
					</span>
					<span class="col">
						<p> <b>Oh, I'm an alien, I'm a legal alien </b> Phasellus mattis rhoncus sapien vel molestie. Phasellus mattis rhoncus sapien vel molestie. Suspendisse varius enim quis risus malesuada, vel vehicula leo tristique. </p><img class="img-size" src="../images/sting2.jpg" alt="sting sings">
					</span>
					<span class="col">
						<p> <b> I'm an Englishman in New York </b> adipiscing elit. Phasellus mattis rhoncus sapien vel molestie. Phasellus mattis rhoncus sapien vel molestie. Suspendisse varius enim quis risus malesuada, vel vehicula leo tristique. </p>
						<img class="img-size" src="../images/cat.png" alt="cat sings">
					</span>
				</div>	
			</div>
		</main>
	</body>
</html>